<body>
    <div class="container">
        <header class="header">
            <nav class="navigation">
              <li class="navigation__link"  ><a href="/" class="<%= path ===  "/"? "active" : ""  %>" >Home</a></li>
              <li class="navigation__link" ><a href="/products" class="<%= path ===  "/products" ? "active" : ""  %>" >Products</a></li>
              <li class="navigation__link" ><a href="/add-products" class="<%= path ===  "/add-products" ? "active" : ""  %>" >Add Products</a></li>
              <li class="navigation__link" ><a href="/cart" class="<%= path ===  "/cart" ? "active" : ""  %>" >Cart</a></li>
              <li class="navigation__link" ><a href="/admin/dashboard" class="<%= path ===  "/admin/dashboard" ? "active" : ""  %>" >Admin Dashboard</a></li>
            </nav>
          </header>